/* Add here you favorite fonts */
@import './components.css';

@tailwind base;

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

html {
  /*font-family: 'Open Sans';*/
}

body {
  text-rendering: geometricPrecision;
  font-feature-settings: 'rlig' 1, 'calt' 1, 'ss01' 1;

  @apply bg-white text-gray-800 antialiased dark:bg-dark-900 dark:text-gray-300;
}

.hero-image-shadow {
}

.slider {
  -webkit-appearance: none;
  height: 8px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 8px;
  border: 1px solid #d3d3d3;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 26px;
  height: 26px;
  background: #fff;
  cursor: pointer;
  border: 2px solid #707070;
  border-radius: 50%;
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
